.profile{
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: rgb(76, 0, 255);
}

.vinicius{
    background-image:url(fundo.jpeg)
}



    
